*{
    margin: 0;
    padding: 0;
}
#bac1{
    width: 100vw;
    height: 100vh;

    position:fixed;

    background-image: url("./xuebao.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    
    z-index: -4;
}
/* #bac2{
} */
.color{
    background-color: rgba(24, 240, 9, 0.485);
    background-size: 100%;
    box-shadow: 0 0 10px black;
    color: aliceblue;
    /* z-index: -3; */
}
.position{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
#body1{
    width: 100%;
    height: 100%;
    
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body2{
    width: 1200px;
    height: 500px;
}
#part1{
    height: 50px;
    margin-bottom:50px;

    display: grid;
    grid-template-columns: 100px minmax(200px,1fr) 300px 50px 100px;
}
#part2{
    width: 100%;
    height: 600px;
    display: flex;
}
#left{
    width: 18%;
    height: 100%;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px; */
    grid-template-rows: auto;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    /* padding无法控制大小问题，即字体不浮动，方块自适应大小*/
}
#left2{

}
#right{
    width: min-content;
    width: 78%;
    margin-left: 2%;

    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#right2{
    
}
#left>div{
    background-color: blue;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    font-size: 30px;
}
.hhh{
    background-color: aqua;
}
#right>div{
    width: 80%;
    height: 400px;
}
.c_1{
    position: relative;
    top:380px;
    left:650px;
}
.c_2{
    height: 100px;
    /* 只规定了文本大小 */
    padding-top:50px;
    font-size: 50px;
    position: relative;
    /* relative太好用了，上面的位置改了下面的也改 */
    left:100px;
}
.c_3{
    height: 100px;
    position: relative;
    left: 150px;
}
.c_4{
    height: 100px;
    position: relative;
    left:500px;
}