#a1
{
    color: blue;
    font-size: 50px;
    font-weight: 100;
    text-decoration: underline brown;
    /* 这个好像没什么用 */
}
#a2
{
    color: aqua;
    font-size: 40px;
}
#a3
{
    color: brown;
    font-size: 30px;
}
#a4
{
    color: red;
    font-size: 20px;
}
.a1
{
    color: red;
    font-size: 20px;
}
.a2
{
    color: green;
    font-size: 20px;
}
.a3
{
    color: grey;
    font-size: 20px;
}
.a4
{
    color: rgb(39, 30, 207);
    font-size: 20px;
}
body
{
    color: cornflowerblue;
    /* 文字颜色 */
    font-size: 15px;
    font-weight: 100;
    text-align:center;
/* 可以发现只是覆盖第一层，第二层并不影响！(如果内部有设定的话) */
/* 为什么对两个盒子没有作用呢 */
/* 为什么只用一个中心对齐就行了 */
    width: 100%;
    background-image: url("./png/xuebao.jpg");
    background-repeat: repeat-y ;
    background-position: 0px 100px;
    background-size: 100%;
}
#box1,#box2
{
    width: 300px;
    height: 200px;
    font-size: 30;
    font-weight: 900;
    color: black;
}
#box2
{
    /* text-align: center; */
    background-image: url("./png/dingzhen2.gif");
    /* margin: 10px; */
    margin: 0px 100px;
    /* 外间距 */
    border-width: 10px 5px 15px 20px ;
    border-color:green black snow blueviolet;
    border-style: solid;
    /* 很像函数重载 */
    padding: 30px;
    /* 内间距 */
    float: left;
    /* float的优先级太小了 */
}
#box1
{
    background-image: url("./png/wangyuan.gif");
    float: right;
}
#box
{
    width: 1000px;
    height: 500px;
    display:flex;
    /* 可以横向分布 */
    flex-direction: row;
    text-align:center;
    float: right;
}
#array2
{
    width: 100px;
    height:100px;
}